<div class="header">
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/about">About</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
    </ul>
</div>
<div class="main-content">
    <h3>
        about Alight Digital Architecture
    </h3>
<p>
    UI and server-side logic is decoupled.<br>
UI “widgets” are Angular components managed and built independently.<br>
UI app is an Angular app,
Business logic and data access is performed by uServices behind well-defined APIs<br>
uServices are discrete services organized by function, and are independent of each other’s code base and configuration settings.<br>
Much faster build times.  Smaller deployments.<br>
Each uService is responsible for embedding its own http engine (e.g. tomcat for Spring Boot, express for nodejs, and so on).  Standards/guidance provided by architecture teams.<br>
uServices are packaged into docker images and are deployed independent from other uService images. <br>
 A single uService is deployed at a time.<br>



</p>
</div>